{% extends "base.html" %}

{% block content %}
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ object.title }}</h3>
                </div>
                <div class="panel-body">
                    <h2>Average Rating: {{ object.avg_rating|floatformat:2 }}</h2>
                    {% for rater in object.raters %}
                        <h2> Rater Number: {{ rater }}</h2>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}